#p-2,#p-3, #p-4{
    width: 28%;
    height: 20em;
    padding:1.5em 2em;
    margin: 15px auto;
    overflow-wrap: normal;
}


  
  #p-2 {
   color:#912727;
   box-shadow:1px 1px 1px #912727;
  }

  #p-3 {
    color:#276f91;
    box-shadow:1px 1px 1px #276f91;
   }
  
   #p-4 {
    color:#407d41;
    box-shadow:1px 1px 1px #407d41;
    
   }

   #p-2 h5 ,#p-3 h5, #p-4 h5{
     font-size: 2rem;
   }

   #p-2 p ,#p-3 p, #p-4 p {
     color:black;
     margin-top: 2em;
     padding-bottom: 0;
   }
  /***Banner ***/
  .banner{
    width:100%;
    height: 20em;
    margin:0;
    margin-bottom: 2em;
    background-color:black;

  }

  .banner_content{
    display: flex;
    flex-direction: column;
    
    height:90%;
    justify-content: flex-end;
    align-items: center;

  }
  .banner_nav1 h1{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
    color:#92959c;
  }
  
  .banner_nav2{
    margin-top: 3em;;
  }
  
  .banner_nav2 #nav , .banner_nav3 #auth{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;


  }

  /**login/signup button**/
  #auth, #nav{
    padding: 0 1em;
    margin: 0em 1em;
  }

  h5{
    height:15%;
    align-items: center;
  }
  i{
    height:55%;
    padding: 15px 2px;
    text-align: center;
  }
  
  p{
    padding: 0.5em;
    text-align: center;
  }

  a:link,a:visited,a:hover, a:hover,i:hover, p:hover , h4:hover{
  
    text-decoration: none;
  }

  .ovpnchild{
    text-decoration: none;
    display:inline;
    margin:0.8em 0;
    padding:1em 3em;
    text-align: center;
    
  }

  #ovpnmodal{
    flex-wrap: wrap;
    padding:1em;
    text-align: center;
  }

  .status{
    padding:0;
    margin:0;
    margin-left: 1em;
  }
