
*{
  margin:0;
  padding: 0;
}
.container{
    width:100%;
    margin:2em 1em;
    padding:0em 0em;
    text-align: center;


}
.container2{
  padding:0em 4em;
  position: relative;
  z-index: 1;

}

.row{
  position: relative;
  z-index: 1;
}

.left{
  min-width: 30%;
  max-width: 50%;
  top: 0;
  left: 0;
  padding:0;
  margin-left:0;
}


.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

#toast_containerout{
  position: relative;
  min-height: 100%;
  z-index: 10;
  
}
#toastcontainer{
  position: absolute;
  min-width:18%;
  max-width: 18%;
  right:0;
  z-index: 11;
}
.toast{
height:5em;
padding: 0;
position: relative;
z-index: 12;
}

.toast-body{
display: flex;
justify-content: center;
align-items: center;
font-size: 1rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#main_div{
  position: relative;
  z-index: 1;
}