{% extends "template/header.html" %}
{% block title %} Login Page{% endblock %}
{% block content %} 


<link rel="stylesheet" href="{{ url_for('static', filename='style/dashboardstyle.css') }}">

<body>

<div class="container-fluid h-100">
<div class="row content h-100">

  <!--navbar-->
  <div class="col-sm-3 sidenav hidden-xs">
    <div id="greetings">
      <div><img id="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Avatar" class="avatar"></div></br>
      <div>
        <p class="greet">Welcome, </p>
        <p class="greet"><strong> {{ session['username'] }}    </strong></p>
      </div>
    </div>

    <hr>
    <ul class="nav nav-pills nav-stacked flex-column">
      <li class="active"><a href="#">Dashboard Overview</a></li>
      <li><a href="#usertable">Users</a></li>
      <li class="dropdown show">
        <a href="#labtable" class="dropdown-toggle" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false" >Labs</a>
          <div class="dropdown-menu ">
            <a href="#lab1table"  class="dropdown-item">PenetrationTesting/Lab1</a>
          </div>
      </li>
      <li><a href=" {{ url_for('home')}}"> <i class="fas fa-sign-out-alt" style="margin-right: 1em;"></i> Back Home</a></li>
      <li><a href=" {{ url_for('dashboard')}}"> <i class="fas fa-exchange-alt" style="margin-right: 1em;"></i> User Dashboard</a></li>

    </ul><br>
  </div>

  <!-- end navbar-->
  <br>
  <div class="col"  id="main">
    <div class="col-md-15">
      <div class="well-title">
        <h2><i class="far fa-chart-bar"> </i> Admin Dashboard- Admin View</h2>
      </div>
      <div class="row">

        <div class="col">
        <a href="#usertable">
          <div class="well-user">

            <div class="left">
              <h2><i class="fas fa-users"></i></h2>
              </br>
              <h4>Active users</h4>
              </br>
            </div>
            <div class="right">
              <h1> {{ user|length }}</h1>
            </div>

          </div>
        </a>
        </div>
        <div class="col">
          <a href="#lab1table">
          <div class="well-lab">

            <div class="left">
              <h2><i class="fas fa-network-wired"></i></h2>
              </br>
              <h4>Running Lab</h4>
              </br>
            </div>
            <div class="right">
              <h1> 1 </h1>
            </div>
            
          </div>  
          </a>
        </div>
        <div class="col">
          <div class="well-view">

            <div class="left">
              <h2><i class="fas fa-eye"></i></h2>
              </br>
              <h4>Views</h4>
              </br>
            </div>
            <div class="right">
              <h1> 122</h1>
            </div>
            
          </div>  
        </div>
      </div>

      <div class="row"> <!--user table-->
        <div class="col-sm-9">
          <div class="well"> 
            <h4><i class="fas fa-users" style="color:#ff3333"></i> All Active Users</h4>
            <table id="usertable" class="table table-hover">
              <thead>
                <tr>
                  <td>User ID</td>
                  <td>Username</td>
                  <td>Score</td>
                  <td>Joined Date</td>
                </tr>
              </thead>
              <tbody>
                {% for i in range (0, user|length) %} 
                <tr>
                  <td> {{ user[i].userid }}</td>
                  <td> {{ user[i].username }}</td>
                  <td> - </td>
                  <td> - </td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div> <!--end user table-->

      <div class="row"> <!--lab table-->
        <div class="col-sm-9">
          <div class="well">
            <h4> <i class="fas fa-network-wired" style="color:#3385ff"></i> PenetrationTesting/Lab1</h4>
            <table id="lab1table" class="table table-hover">
              <thead>
                <tr>
                  <td>Task id</td>
                  <td>Task Title</td>
                  <td>Answer</td>
                  <td>Created By</td>
                </tr>
              </thead>
              <tbody>
                {% for i in range (0, lab|length) %} 
                <tr>
                  <td> {{ lab[i].id }}</td>
                  <td> {{ lab[i].title }}</td>
                  <td> {{ lab[i].answer }} </td>
                  <td> - </td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div> <!--end lab table-->
      


    </div>



  </div><!--close main-->
  

</div><!--end row-->
</div><!--end fluid-->

{% endblock %}